h1,h2 {
  text-align: center;
  font-family: montserrat;
}

h3 {
  font-size: 20px;
  font-family: montserrat;
  padding-top: 10px;
  padding-bottom: 2px;
  border-bottom: 2px solid orange;
  padding-left: 20px;
}

h4 {
  font-family: montserrat;
  padding-left: 50px;
  font-size: 16px;


}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

#menu {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) 30%, transparent);
}

#menu li {
  list-style: none;
  display: inline-block;
}

#menu li a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}

#menu li a:before {
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 4px solid #ffffff;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}

#menu li a:hover:before {
  right: 0;
}

#banniere {
  height: 30vw;
  width: 100%;
  background-image: url("medias/test.png");
  background-size: cover;
}

img {
  width: 600px;
  height: auto;
}

h4 {

}
