h1,h2,h3,h4 {
  font-family: montserrat;
}

h2 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 0px;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  padding-left: 50px;
  font-size: 18px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.monu
{
  overflow: hidden;
}

.picture
{
  float: left;
  margin-right: 18px;
}

#page {
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

hr {
  height: 2px;
  background-image: linear-gradient(to right, rgba(62, 103, 155,0) 10%, rgb(152, 87, 129) 25%, rgb(250, 115, 111) 35%, rgb(255, 253, 117) 50%, rgb(250, 115, 111) 65%, rgb(152, 87, 129) 75%, rgba(62, 103, 155, 0) 90%);
  border: none;
  margin-bottom: 30px;
}

#menu {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) 30%, transparent);
  display: flex;
  justify-content: center;
}

#menu li {
  list-style: none;
  display: inline-block;
}

#menu li a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 30px;
  text-transform: uppercase;
}

#menu li a:before {
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 3px solid #ffffff;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}

#menu li a:hover:before {
  right: 0;
}

#banniere {
  height: 30vh;
  width: 100%;
  background-image: url("medias/banniere.png");
  background-size: cover;
}

#text-home {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

#logo {
  max-width: 20%;
  min-width: 100px;
  height: auto;
  margin-top: -10px;
  margin-left: -200px;
  margin-right: -200px;
}

#spoiler2 {
  position: absolute;
  visibility: hidden;
}

#map {
  max-width: 50%;
  height: auto;
}
